.header {
    width: 1600px;
    height: 480px;


}

#letter {
    font-size: 400%;
    color: #f0eaea;

}

h1 {
    font-size: 96px;
    font-weight: 600px;
}

h2 {
    font-size: 52px;
    font-weight: 600px;
}

a {
    text-decoration: none;
    color: #f0eaea;
}

ul {
    color: #f0eaea;
}

ul li {
    display: inline;
    float: left;
    font-Weight: 600;
    margin-left: 40px;
    cursor: pointer;

}

li {
    width: 128px;
    height: 22px;
    font-family: 'Mont';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 120%;
    display: flex;
    align-items: center;
}

#butonEntry {
    color: #FFFFFF;
    background-color: #EF302B;
    font-family: 18pt;
    font-weight: 700;
    border-radius: 24px;
    width: 280px;
    height: 72px;
    padding: 1px, 0px, 0px, 0px;
    margin-left: -120px;

}

#butonEntry:hover {
    background-color: #C0231F;
}



#text_wuz {
    color: #1E4391;
    font-weight: 600;
    font-size: 52px;
    margin-top: 70px;
    margin-left: 100px;
}



#button_wuz_show {
    width: 235px;
    height: 22px;
    margin-left: 100px;
    margin-top: 24px;
    border-bottom: 1px solid #1E4391;
    font-family: 'Mont';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 120%;
    display: flex;
    align-items: center;
    color: #1E4391;
}


#butonEntry2 {
    color: #FFFFFF;
    background-color: #EF302B;
    font-weight: 700;
    border-radius: 16px;
    width: 280px;
    height: 72px;
    margin-left: 100px;
    margin-top: 41px;
}


#butonEntry2:hover {
    background-color: #C0231F;
}

footer {
    width: 1600px;
    height: 32px;
    background: linear-gradient(270deg, #FF2D7F -0.71%, #FB3727 47.63%, #FEEA0F 100%);
}


.num1 span {

    border-bottom: 5px solid #1E4391;
}

.numb2 {
    font-size: 52px;
    margin-left: -110px;
    color: #1E4391;
}


.numb3 {
    font-size: 52px;
    margin-left: -400px;
    color: #1E4391;
}


.numb2 span {
    border-bottom: 5px solid #1E4391;
}

.numb3 span {
    border-bottom: 5px solid #1E4391;
}
.txt1{
    margin-top:-200px;
    font-size:16px;
}
.txt2{
    margin-top:-200px;
    font-size:16px;
    margin-left:-110px
}

.txt3{
    margin-top:-200px;font-size:16px;margin-left:-400px;
}
.info_wuz p{
    margin-left:100px; margin-top:24px;
                text-align: justify;
               font-style: normal;
               font-weight: 600;
               font-size: 16px;
}